@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primer-color: #FAFAE9;
    --segundo-color: #ffff8c;
    --tercer-color: #C06C6E;
    --cuarto-color: #FFE3E0;     
}


body {
    background-image: url(../img/image2\ 1.png);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-size: cover;
    margin-right: 3rem;
    margin-left: 3rem;
}
/* Pagina de incio con boton para entrar al resto de la pagina */
.inicio{
    position: absolute;
    inset: 0;
    background-image: url(../img/image2\ 1.png);
    height: 100vh;
    background-position: center;
    text-align: center;
    align-content: center;
    background-size: cover;
    top: 0;
}
.contenedorClaro{
    background-color: var(--primer-color);
    margin: 4rem;
    height: 90vh;
    align-content: center;
}
.nombres{
    font-size: 120px;
}

.tituloInicio{
    font-size: 90px;
}

.fechaManual{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 10px;
}

#btnEntrar{
    margin: 20px;
    width: fit-content;
    height: 50px;
    padding: 0 5px;
    border: 5px solid var(--tercer-color);
    font-size: 120%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.anillo{
    margin: 10px;
    width: 45px;
    height: 50px;
}

/* Contador */

.contador{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
    padding: 2% 0;
    text-align: center;
}

.numContador{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    background-color: var(--cuarto-color);
    height: 70px;
    align-content: center;
    margin: 10px;
    padding: 25px;
    border-radius: 15%;
}

span{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}


header, footer, main {
    background-color:var(--primer-color);
    
}


/*Navbar*/

.logo {
    width: 20px; 
    height: auto;
    margin: 20px auto 0 auto; 
}

.Navbar {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background-color: #FAFAE9;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.Navbar li {
    display: inline;
    margin: 0 10px; 
    font-family:"Roboto";
}
.Navbar li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s; 
}
.Navbar li a:hover {
    color: var(--tercer-color);
    text-decoration: underline;
}

main {
    padding-top: 60px; 
    margin-top: 20px; 
    scroll-behavior: smooth;
}

h1{
    margin-bottom: 1rem;
    font-family: "Pinyon Script", cursive;
    font-weight: 200;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

/* Lugar */

i{
    color: var(--tercer-color) ;
}

/* general contenido lugar y regalos */
.contenido {
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 10px;
    padding: 1em;
}

.contenido div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-size: 20px;
}

/* Lugar */

.contenido-lugar img{
    width: 100%;
    box-shadow: 4px 6px 6px 1px rgba(184,184,184,1);
}

.mapa{
    width: 100%;
    border: 0;
    box-shadow: 4px 6px 6px 1px rgba(184,184,184,1);
}


/* Galeria */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-bottom: 1rem;
}


.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 4px 6px 6px 1px rgb(146, 144, 144);
    border-radius: 8px;
}
.grid-item:hover img {
    transform: scale(1.2); 
}

/* HEAD */

a{
    text-decoration: none;
}

i{
    color: var(--tercer-color);
}

/*PROPIEDADES DEL FORMULARIO*/
form {
    display:flex;
    flex-direction: column;
    width: 75%;
    margin: 0 10%;
    gap: 1em 0;

    .cuadro {
        margin: 0% 15%;
        padding: 0;
        background-color: azure;
        border-color: rgb(170, 45, 114);
        border-style: groove solid ridge solid;
        border-width: 1em 0.3em 0.2em 0.3em;
        border-radius: 0.5em 0.75em 0 0;

        h5 {
            margin: 2% 0 5% 2%;
            font-style: oblique;
            color: rgb(61, 61, 61);
        }
        h4 {
            padding: 2% 0 2% 5%;
            background-color: #ada2c2;
            border-bottom-style: solid;
            border-color: grey;
        }
        h2{
            background: linear-gradient(rgb(231, 147, 231), rgb(137, 137, 212));
            padding: 5% 0;
            border-bottom-style: ridge;
            border-color: grey;
        } 
    }   
        
    .noscasamos{
        background: linear-gradient(rgb(231, 201, 231), rgb(151, 186, 197));
        padding: 5% 0;
        font-size: x-large;
    
        & p{
            margin: 2% 0;
            font-weight: 400;
        }
        & h6{
            color:rgb(192, 11, 35);
             margin-top: 10%;
        }
    }
    
    .nombreyapellido {
        margin: 2em 0;
        padding: 0 10%;

        & .nombre {
            margin: 0;
            padding: 2% 40% 2% 3%;
        }
    }

    .asistencia {
        margin: 2em 0;
        padding: 0 10%;

        & .form-asistencia{
            margin: 3% 0;
        }
    }

    .mail {
        margin: 2em 0;
        padding: 0 10%;

        & .form-mail {
            margin: 0 5% 0 0;
            padding: 2% 40% 2% 3%;
        }
    }

    .invitados {
        margin: 2em 0;
        padding: 0 10%;
        
        & .form-invitados{
            width: 25%;
            margin: 0 5% 0 0;
            padding: 2% 0% 2% 3%;
        }
    }
    
    .alimentos{
        margin: 2em 0;
        padding: 0 10%;

        .form-alimentos {
            width: 25%;
            margin: 0 5% 0 0;
            padding: 2% 60% 2% 3%;
        }
        .observ-alimentos{
            width: 100%;
        }
    }
    .musica{
        margin: 2em 0;
        padding: 0 10%;

        .observ-musica{
            width: 100%;
        }
    }

    .textocentrado {
        text-align: center;
    }

    .texto-small{
        font-size: small;
    }


    /*PROPIEDADES DE BOTONES*/

    .cuadrobtn {
        width: 100%;
        margin: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 2em;
    }

    .formbtn {
        margin: 0.25em 0.75em;
        padding: 0 2em ;
        background-color: var(--tercer-color);
        font-size: medium;
        font-weight: 600;
        border-color: #aa1b1d;
        border-radius: 0.5em;
        height: 3.5em;
    }

    .formbtn:hover {
        background-color: rgb(158, 36, 52);
        cursor: pointer;
    }  

    .menuprincipal{
        width: 100%;
        margin: 2em 0;
        font-weight: 400;
        color:#aa1b1d;
    }
}