@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primer-color: #FAFAE9;
    --segundo-color: #ffff8c;
    --tercer-color: #C06C6E;
    --cuarto-color: #FFE3E0;     

    --form-cuadro:  rgb(218, 218, 218);
    --texto-formulario: dimgrey;
    --texto-cargaInvitado: black;
    --texto-btn: rgb(93, 93, 200);
    --cuadro-btn: rgb(190, 190, 190);
    --cuadro-hover: rgb(216, 210, 210);
}


body {
    background-image: url(../img/image2\ 1.png);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-size: cover;
    margin-right: 3rem;
    margin-left: 3rem;
}
/* Pagina de incio con boton para entrar al resto de la pagina */
.inicio{
    position: absolute;
    inset: 0;
    background-image: url(../img/image2\ 1.png);
    height: 100vh;
    background-position: center;
    text-align: center;
    align-content: center;
    background-size: cover;
    top: 0;
}
.contenedorClaro{
    background-color: var(--primer-color);
    margin: 4rem;
    height: 90vh;
    align-content: center;
}
.nombres{
    font-size: 120px;
}

.tituloInicio{
    font-size: 90px;
}

.fechaManual{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 10px;
}

#btnEntrar{
    margin: 20px;
    width: fit-content;
    height: 50px;
    padding: 0 5px;
    border: 5px solid var(--tercer-color);
    font-size: 120%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.anillo{
    margin: 10px;
    width: 45px;
    height: 50px;
}

/* Contador */

.contador{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
    padding: 2% 0;
    text-align: center;
    flex-wrap: wrap;
}

.numContador{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    background-color: var(--cuarto-color);
    height: 70px;
    align-content: center;
    margin: 10px;
    padding: 25px;
    border-radius: 15%;
}

span{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}


header, footer, main {
    background-color:var(--primer-color);
    
}


/*Navbar*/

.logo {
    width: 20px; 
    height: auto;
    margin: 10px;
}

.navbar {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    background-color: #FAFAE9;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    display: inline;
    margin:  1px 15px;
    font-family: "Roboto";
}

.navbar li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s; 
}

.navbar li a:hover {
    color: var(--tercer-color);
    text-decoration: underline;
}


main {
    padding-top: 60px; 
    margin-top: 20px; 
    scroll-behavior: smooth;
}

h1{
    margin-bottom: 1rem;
    font-family: "Pinyon Script", cursive;
    font-weight: 200;
    display: flex;
    justify-content: center;
    font-size: 35px;
}
/* Nuestra historia */

.historia{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: center;
    
    & div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    & img{
        width: 80%;
        filter: drop-shadow( 5px 5px 10px #000 )
    }
}

.fotonovios1{
    position: relative;
    top: 10%;
    left: 10%;
}
.fotonovios2{
    position: relative;
    bottom: 10%;
    right: 10%;
}

/* Lugar */

i{
    color: var(--tercer-color) ;
}

/* general contenido lugar y regalos */
.contenido {
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 10px;
    padding: 1em;
}

.contenido div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-size: 20px;
}

/* Lugar */

.contenido-lugar img{
    width: 100%;
    box-shadow: 4px 6px 6px 1px rgba(184,184,184,1);
}

.mapa{
    width: 100%;
    border: 0;
    box-shadow: 4px 6px 6px 1px rgba(184,184,184,1);
}


/* Galeria */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-bottom: 1rem;
}


.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 4px 6px 6px 1px rgb(146, 144, 144);
    border-radius: 8px;
}
.grid-item:hover img {
    transform: scale(1.2); 
}

/* HEAD */

a{
    text-decoration: none;
}

i{
    color: var(--tercer-color);
}


/*PROPIEDADES DEL FORMULARIO*/
.contenido-asistencia {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    padding: 1em;  
         
    form{
        margin: 0 15%;
        justify-content: center;
        align-items: center;
        padding: 5%;
        font-family: "Roboto", sans-serif; 

        .cuadro-form{  
            width: 100%;
            background-color: var(--form-cuadro);
            border-radius: 0.8em;
            border-color: transparent;
            margin-top: 0.7em;
            padding: 0.3em 0 0.3em 0.75em;
            font-size: 1.2em;
            font-weight: 400;
        }
        .opciones-form{
            width: 50%;
            margin-top: 0.5em;
            margin-left: 50%;
            background-color: var(--form-cuadro);
            border-radius: 0.8em;
            border-color: transparent;
            padding: 0 0 0 0.75em;
            }
        .texto-form{
            color: var(--texto-cargaInvitado);
            font-family: "Roboto", sans-serif;
        }
        ::placeholder, label{
            color: var(--texto-formulario);
            }
        select, option{
            color: var(--texto-formulario);
            font-size: 1em 
        }
        textarea{
            width:50%;
            height: 1.5em;
            margin-left: 50%;
            background-color: var(--form-cuadro);
            border-radius: 0.8em;
            border-color: transparent;
            margin-top: 0.5em;
            padding: 0 0 0 0.75em;
            align-content: center;
            font-family: "Roboto", sans-serif;
            font-size: 0.95em;   
        }
    }

    .form-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        
        img{
            width: 60%;
        }
    }


    /*Propiedades de botones para Asitencia*/
    .cuadrobtn-invitados {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
        margin-top: 0.5em;

        .formbtn {
            color: var(--texto-btn);
            padding: 0.2em 0.3em;
            background-color: var(--cuadro-btn);
            font-size: 0.9em;
            font-weight: 700;
            border-color: transparent;
            border-radius: 0.5em;
        }

        .formbtn:hover {
            background-color: var(--cuadro-hover);
            cursor: pointer;
            border-color: var(--texto-btn);
        }
    }
    
    .cuadrobtn-form {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
        margin-top: 1.2em;

        .formbtn {
            color: var(--texto-btn);
            padding: 0.2em 0.3em;
            margin-left: 0.7em;
            background-color: var(--cuadro-btn);
            font-size: 0.9em;
            font-weight: 700;
            border-color: transparent;
            border-radius: 0.5em;
        }

        .formbtn:hover {
            background-color: var(--cuadro-hover);
            cursor: pointer;
            border-color: var(--texto-btn);
        }
    }
}


/*PROPIEDADES SECCION MUSICA*/
.contenido-musica {
    display: flexbox;
    width: 50%;
    text-align: center;
    margin: 4% 25% 5% 25%;

    .cuadro-musica{
        margin-top: 0.7em;
        font-family: "Roboto", sans-serif;
     
        ::placeholder{
            text-align: center;
            margin-top: 0.5em;
            color: var(--texto-formulario);
        }
        label{
            width: 50%;
            background-color: var(--form-cuadro);
            color: var(--texto-formulario);
            border-radius: 0.8em;
            border-color: transparent;
            margin: 0.7em;
            padding: 0.3em 0.75em 0.3em 0.75em;
            font-size: 1.2em;
            font-weight: 400;     
        }
        textarea{
            width: 40%;
            background-color: var(--form-cuadro);
            color: var(--texto-cargaInvitado);  
            border-radius: 0.8em;
            border-color: transparent;
            margin-top: 0.5em;
            padding: 0 0 0 0.75em;
            align-content: center;
            font-family: "Roboto", sans-serif;
            font-size: 0.95em;        
        }
    }

    /*Propiedades de botones para Cancion*/
    .cuadrobtn-musica {
        width: 100%;
        margin: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .musicabtn {
            margin: 1em 0.3em;
            color: var(--texto-btn);
            padding: 0.2em 0.3em;
            background-color: var(--cuadro-btn);
            font-size: 0.9em;
            font-weight: 700;
            border-color: transparent;
            border-radius: 0.5em;
        }

        .musicabtn:hover {
            background-color: var(--cuadro-hover);
            cursor: pointer;
            border-color: var(--texto-btn);
        } 
    }
}